.image {
  color: #222222;
}

.image:hover {
  color: #eb6864;
  cursor: pointer;
}

.hidden-image {
  color: #eb6864;
}

.hidden-image:hover {
  color: #eb6864;
  cursor: pointer;
}

.my-link {
  font-size: 80%;
  color: #eb6864;
}

.my-link:hover {
  color: #e22620;
  cursor: pointer;
}

.alert-custom {
  background-color: #e74742;
  /* font-size: large;
  color: #222222; */
  opacity: 0.2;
  border-radius: 0.25rem;
  border-color: #e22620;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.fa-blink {
  animation: fa-blink 3s linear infinite;
}

.slow-spin {
  animation: fa-spin 5s infinite linear;
}
